//Container personalizzati

.container_85{
    max-width: 85%;
    margin: 0 auto;
}

.container_80{
    max-width: 80%;
    margin: 0 auto;
}

.container_65{
    max-width: 65%;
    margin: 0 auto;
}

.container_55{
    max-width: 55%;
    margin: 0 auto;
}

.container_75{
    max-width: 75%;
    margin: 0 auto;
}

.container_25{
    max-width: 25%;
    margin: 0 auto;
}

.container_35{
    max-width: 35%;
    margin: 0 auto;
}

//FONT

.decorated{
    font-family: "Caveat", cursive;
}

.subtitle{
    font-family: "EB Garamond", serif;
}

